<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Products</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Our Products</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Tag</th>
                    <th>Price ($)</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product['name'] }}</td>
                    <td>{{ product['tag'] }}</td>
                    <td>{{ product['price'] }}</td>
                    <td>
                        <img src="{{ url_for('static', filename=product['image_path']) }}" alt="{{ product['name'] }}" width="100">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>